<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %> <!--   <%= will_paginate %> tu dong tim den bien @users cua method tuong ung trong users_controller -->
